<% layout("/layouts/boilerplate") %>

    <body>
        <br>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create a new Listing</h3>
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="listing[title]" type="text" class="form-control" placeholder="Enter Catcchy Title"
                            required>
                        <div class="valid-feedback"> Title Looks good! </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" type="text" class="form-control"
                            placeholder="Enter Description" required></textarea>
                        <div class="invalid-feedback"> Please Give a Short Description </div>
                    </div>
    
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label>
                        <input name="listing[image]" type="file" class="form-control" required>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" class="form-control" placeholder="1200" required>
                            <div class="invalid-feedback"> Price Should Be Valid </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input name="listing[country]" type="text" class="form-control" placeholder="India"
                                required>
                            <div class="invalid-feedback"> Country Should Be Valid </div>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input name="listing[location]" type="text" class="form-control" placeholder="Maharashtra"
                            required>
                        <div class="invalid-feedback"> Location Should Be Valid </div>

                    </div>
                    <br>
                    <button class="btn btn-dark add-button">Add</button>
                    <br>
                </form>
                <br><br>
            </div>
        </div>
    </body>